.white__block {
  position: relative;
  width: 600px;
  height: 1000px;
  padding: 57px 43px;
  margin: 30px auto;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.green__block {
  position: relative;
  width: 450px;
  height: 20px;
  padding: 57px 43px;
  margin: 30px auto;
  border-radius: 10px;
  background-color: #e3ece5;
}
