button {
  border: none;
  border-radius: 5px;
  padding: 6px 25px;
  cursor: pointer;
  transition: background-color 200ms ease-in, color 200ms ease-in;
}

.find-btn {
  text-align: center;
}

.find-btn1 {
  display: inline-block;
  background-color: #4d6f53;
  margin-top: 30px;
  width: 400px;
  height: 120px;
  border-radius: 10px;
}

.find-btn2 {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  background-color: #4d6f53;
  color: white;
  border-radius: 5px;
}
